*{
    margin: none;
    padding: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
   
}

header {
    margin-bottom: 5px;
}

header h1 {
    text-align: center;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoplayer{
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#CTA {
    font-size: small;  
}

div#CTA input{
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}

.video {
    width: 95%;
    height: 50vmin;
    margin-bottom: 2px;
}

video {
    width: 100%;
    height: 100%;
}

.control-container {
    width: 95%;
    background-color: black;
    padding: 5px;
    margin-inline: auto;
    /* display: none; */
    flex-direction: column;
    color: white;
}

.timer {
    width: 90%;
    margin:2px auto;
}

.total-duration {
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.total-duration:hover .timeline{
    height: 100%;
}

.timeline {
    background-color: grey;
    position: relative;
    width: 100%;
    height: 3px;
    transition: 150ms ease-in-out;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview) * 100%);
    background-color: whitesmoke;
    display: none; 
}

.total-duration:hover .timeline::before {
    display: block;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--currentPos) * 100%);
    background-color: blue;
}

.tracker{
    height: 200%;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    aspect-ratio: 1/1;
    top: -50%;
    left: calc(0% + var(--currentPosition) * 100%);
    /* right: calc(100% - var(--currentPosition) * 100%); */
    transform: translateX(-50%);
    z-index: 1;
}

div.left {
    height: 12px;
    background-color: red;
    position: absolute;
    aspect-ratio: 1/1;
    top: 0%;
    left: 0px;
    /* left: calc(0% + var(--l-Bound) * 100%); */
    transform: rotateX(360deg);
    transform: translateX(-50%);
    z-index: 2;
}

div.right {
    height: 12px;
    background-color: red;
    position: absolute;
    aspect-ratio: 1/1;
    top: 0%;
    right: 5px;
    /* left: calc(0% + var(--preview) * 100%); */
    transform: rotateX(360deg);
    transform: translateX(-50%);
    z-index: 2;
}

.control {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.control-buttons {
    display: flex;
    justify-content: center;
    width: 30%;
}

.control-buttons button {
    border-radius: 3px;
    margin: 0px 6px;
    cursor: pointer;
    padding: 2px 1px;
    width: 27%;
    /* background-color: black; */
    border: none;
}

svg {
   background-color: white;
}

button.pp {
    position: relative;
    /* height: 30px;
    width: 30px; */
}

button.pp.paused span#pause {
    display: none;
}

button.pp:not(.paused) span#play {
    display: none;
}

button#pp p{

    display: inline-block;
    background-color: white;
}

.active {
    display: flex;
}

.volume { 
    width: 30%;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.volume span{
    font-size: small;
}

.slider {
    width: 0px;
    height: 3px;
    transform: scaleX(0);
    border-radius: 3px;
    position: relative;
    top: -4px;
    /* margin-left: 2px; 
    transition: 
        width 160ms ease-out,
        transform 160ms ease-out;*/
}

.volume:hover .slider{
    width: 50%;
    transform: scaleX(1);
}

div.time {
    width: 30%;
}

.time p{
   float: right;
   font-size: calc(10px + 0.4vmin);
}

#trim-button {
    min-width: 270px;;
    padding: 3px ;
    margin-top: 5px;
    background-color: black;
    color: white;
}

.trim-container{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: min-content;
}

/* header {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

main {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.videoplayer {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    position: relative;
}

p#CTA {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-inline: 20%;
   
}

.video {
    width: 90%;
    height: 47vh;
    margin: 5px;
    padding:15px;
   
}


button#track {
    transform: translateY(-2.5px);
    border-radius: 50%;
    border: none;
    padding: 6px;
    gap: none;
    display: inline;
}






.trim {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: min-content;
}

.trim input {
    margin-top: 5px;
    padding: 3px;
} */